body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

h1 {
  font: 28px "Century Gothic", Futura, sans-serif;
  text-align: left;
  font-weight:bold;
}

h2 {
  font: 28px "Century Gothic", Futura, sans-serif;
  text-align: center;
}

button {
  color: #ff6363;
}

.Header {
  background: #fafafa;
  border-bottom: 1px solid #999;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
}

.first {
  height: 40px;
  width: 40px;
  margin: 10px;
  border: 1px solid #999;
  border-radius: 50%;
}

.Second {
  height: 500px;
  width: 700px;
}

.Telo {background: #transparent;}

.Section {
  background: #ffffff;
  border: 1px solid #999;
  height: 580px;
  width: 700px;
  margin: 30px auto;
}

.Section-head {
  background: #fafafa;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  align-items: center;
}

.Button {
  background: #fafafa;
  font: 28px "Century Gothic", Futura, sans-serif;
  text-align: center;
  height: 60px;
  width: 100px;
  margin-left: auto;
  border: none;

}